body{
    background-color: rgb(146, 235, 235);
    display:flex;
    justify-content: center;
    align-items: center;   
}
.background{
    position: relative;   
    border:solid;
    border-radius: 50px;
    padding: 50px;
    padding-left: 20px;
    padding-right: 200px;
    background-color: aquamarine;
    cursor:pointer;
}
.knob{
    position:absolute; 
    left:0;
    border:solid;
    border-radius: 50px;
    height: 80px;
    width: 80px;
    background-color: rgb(0, 255, 170);
    top:10px;
    left:10px;
    transition:0.3s;
}
#toggle {
    opacity: 0;}

#toggle:checked + label .background {
  background-image: url("bg.png");
}
#toggle:checked + label .knob {
  left: 130px;
  background-color: bisque;
}

#toggle:checked ~ .page {
  background-color: rgb(227, 178, 119);
}
p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
